<mat-toolbar color="primary" class="header">
    <h1>ToDo App</h1>
    <div class="header-linkBox" *transloco="let t; read: 'header'">
        <button class="langBtn" [ngClass]="{'active': activeLang === 'en'}" (click)="changeLanguage('en')">
            {{t('en')}}
        </button>
        <button class="langBtn" [ngClass]="{'active': activeLang === 'ru'}" (click)="changeLanguage('ru')">
            {{t('ru')}}
        </button>
        <a mat-flat-button color="primary" routerLinkActive="active" routerLink="/todos">
            {{t('todo')}}
        </a>
        <a mat-flat-button color="primary" routerLinkActive="active" routerLink="/completed">
            {{t('completed')}}
        </a>
        <a mat-flat-button color="primary" routerLinkActive="active" routerLink="/all">
            {{t('all')}}
        </a>
    </div>
</mat-toolbar>