.todoForm{
    &-title{
        text-align: center;
        font-size: 24px;
        margin-bottom: 32px !important;
    }
    .mat-form-field{
        width: 100%;
    }
    textarea{
        &::-webkit-scrollbar{
            display: none;
        }
    }
    &-bottom{
        text-align: center;
        margin-top: 16px;
        button{
            width: 100%;
            margin-bottom: 8px;
        }
    }
}
