<div class="todo-list">
    <mat-toolbar color="primary" class="todo-list-header">
        <h1>{{name}}</h1>
    </mat-toolbar>
    <div class="todo-list-main">
        <div *ngFor="let todo of todos" class="todo-list-main-item" cdkDrag>
            <div class="todo-list-main-item-drag" cdkDragHandle>
                <mat-icon>flip_to_front</mat-icon>
            </div>
            <div class="todo-list-main-item-placeholder" *cdkDragPlaceholder></div>
            <app-todo-item [todo]="todo"></app-todo-item>
        </div>
    </div>
</div>